*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family : "Plain Light";
    color: white;
}
html , body{
    height: 100%;
    width: 100%;
}

#loader{
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 999;
    background-color:#030303;
    padding: 25vh 10vw;

}
.line{
    /* background: #32c030; */
    height: fit-content;
    overflow: hidden;
    display: flex;
    justify-content: flex-start;
    gap: 3vw;
}
#lineOnePartOne{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1vw;

}
#lineOnePartOne h5 , #lineOnePartOne h6{
    font-size:3vw ;
    font-family: 'silk serif';
    font-weight: 100;
}

#lineOnePartOne h5{
    /* background-color: aqua; */
    width: 5vw;
    text-align: right;
    font-weight: 100;
}
.line h1{
    font-size: 6.5vw;
    font-weight: 900;
    font-weight: 100;
}
.line h2{
    font-size: 5.8vw;
    font-weight: 900;
    opacity: 0;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

@keyframes anime {
    0%{
        font-family: "plain Light";
        -webkit-text-stroke: 0.1px #fff;
        color: #fff;
        font-weight: 500;
        opacity: 1;
    }
    48%{
        font-family: "plain Light";
        -webkit-text-stroke: 0.1px #fff;
        color: #fff;
        font-weight: 500;
        opacity: 0;
    }
    50%{
        font-family: "silk serif";
        -webkit-text-stroke: 1px #fff;
        font-weight: 500;
        color: transparent;
        opacity: 1;
    }
    100%{
        font-family: "silk serif";
        -webkit-text-stroke: 1px #fff;
        font-weight: 500;
        color: transparent;
        opacity: 0;
    }
}



#main{
    position: relative;
    background-color: #030303;
}

#page1{
    height: 100vh;
    width: 100vw;
    background: #151515;
}

